# =============== #

# Unity generated #

# =============== #

Temp/

Obj/

UnityGenerated/

Library/



# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj



# ============ #

# OS generated #

# ============ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

Icon?

ehthumbs.db

Thumbs.db
C4/ProjectSettings/ProjectSettings.asset
C4/Assets/UnityVS.meta
C4/Assets/UnityVS/Editor.meta
C4/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
C4/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
C4/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
C4/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
C4/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
C4/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll